
.form_category {
    
    width: 70%;
    margin: 15px 150px;
    padding: 15px;
    border: 25px solid #ccc;
    border-radius: 10px;
  }
  
  .label_category {
    
    margin-bottom: 10px;
    font-weight: bold;
    margin-left:0px;

  }
  
  .input_category {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .btn_category {
    background-color: #080C39;
    
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #3e8e41;
  }

  .cat_label{
    color: red;
    margin-bottom: 25px;
  }