/* 
.form_category1 {
    
    width: 100%;
    margin: 15px 60px;
    padding: 15px;
    border: 40px solid #ccc;
    border-radius: 10px;
    background-color: #f3f3f3;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  .label_category {
    
    margin-bottom: 10px;
    font-weight: bold;
    margin-left:0px;

  }
  
  .input_category {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .btn_category_add{
    background-color: #080C39;
    width: 230px ;
    color: white;
    padding: 10px 20px;
    border-color:2px#080C39;
    border-radius: 15px;
    cursor: pointer;
    
  }
  .btn_category_add:hover{
    background-color:  #ccc;
    border-color:2px#080C39;
    color: #080C39;

  }
  
  .button:hover {
    background-color: #3e8e41;
  } */
