a.aa:link, a.aa:visited {
  background-color: #080C39;
  color: white;
  padding: 6px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-right: 20px;
  margin-left: 100px;
  font-weight: 650;
}

a.aa:hover, a.aa:active {
  background-color: rgb(242, 234, 234);
  color: black;
  font-weight: 700;

}
  

.searchBtn{
 
  background-color: #080C39; 
  color: white; 
  border: rgb(242, 234, 234);
  height: 36px;
  width: 160px;
  font-weight: 700;
}



.searchBtn:hover {

  background-color: rgb(242, 234, 234);
  color: rgb(10, 6, 6);
  font-weight: 700;
}



/* table */


.tdButton{
  background-color:whitesmoke;
  width: 8%;
 
}
.tdID{
  width: 20%;
  background-color:whitesmoke;
}
.categoryList{
  margin-left: 200px;
  width: 50%;
  margin-top: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
  
}
.btnUpdate{
background-color: #080C39;
color: white;
border-radius: 12px;
padding: 5px 8px;
font-weight: 500;
font-size: small;
}
.btnUpdate:hover {
  background-color: rgb(242, 234, 234);
  color: rgb(10, 6, 6);
  font-weight: 500;
  
}


.btnDelete{
color: white;
background-color: rgba(91, 27, 27, 0.995);
padding: 5px 10px;
border-radius: 12px;
font-weight: 500;
font-size: small;
}

.btnDelete:hover {
  background-color: rgb(242, 234, 234);
  color: rgb(121, 5, 5);
  font-weight: 500;
}

.categoryListButton{
  margin-left: 700px;
  margin-top: 150px;
  margin-right: 210px;
  
}

