.divDashboard{
    background-color: rgb(212, 212, 212);
    height: 110PX;
    width: 300PX;
    border : 10px solid #080C39;
    border-radius: 25px;
    float: left;
    margin-right: 70px;
    margin-top: 70px;
    text-align: center;
    margin-left: 0px;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif

}

.divDashboard2{
    background-color: rgb(212, 212, 212);
    height: 110PX;
    width: 300PX;
    border : 10px solid #860a16;
    border-radius: 25px;
    float: left;
    margin-right: 70px;
    margin-top: 70px;
    text-align: center;
    margin-left: 0px;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif

}

.labelDashboard{
    color: rgb(48, 105, 165);        
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:xx-large;
}
.h1_text{
    margin-top: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif    ;
}